.contentMain {
    width: 100%;
    height: max-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background: #000000;
    z-index: 9;

    .mainWrap {
        width: 100%;
        max-width: 1200px;
        background: #000000;
        padding: 0rem 1rem;
        display: grid;
        align-content: baseline;

        .titleMain {
            margin-top: 2rem;
            padding: 1rem;
            color: #ffffff;
            font-family: var(--main-font);
            font-size: 1.5rem;
            text-align: center;
            font-weight: 600;

            @media screen and (min-width: 768px) {
                font-size: 1.7rem;
            }

            @media screen and (min-width: 1024px) {
                font-size: 1.9rem;
            }
        }

        .content {
            color: #989898;
            padding: 1rem;
            font-family: var(--sub-font);
            margin-bottom: 2rem;
            gap: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: 1200px) {
                gap: 2rem;
            }

            .expWrap {
                width: 100%;
                border: 1px solid #eaeaea;
                border-radius: 10px 10px 0px 0px;
                border-bottom: none;
                display: flex;
                padding: 1rem;
                border-radius: 1rem;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid rgba(255, 255, 255, 0.12);
                backdrop-filter: blur(14px);
                -webkit-backdrop-filter: blur(14px);
                overflow: visible;
                box-shadow: 0 0 15px rgba(0, 240, 255, 0.1);
                z-index: 1;
                transition: transform 0.3s ease;
                position: relative;

                @media screen and (min-width: 1024px) {
                    max-width: 450px;
                }

                @media screen and (min-width: 1200px) {
                    max-width: 550px;
                }

                .top {
                    padding: 1rem;
                    gap: 10px;

                    @media screen and (min-width: 1024px) {
                        gap: 10px;
                    }

                    .name {
                        display: flex;
                        justify-content: center;
                        color: #f9f9f9;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        font-size: 1.1rem;
                        text-align: center;

                        @media screen and (min-width: 768px) {
                            font-size: 1.2rem;
                        }

                        @media screen and (min-width: 1024px) {
                            font-size: 1.3rem;
                        }
                    }

                    .info2 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        font-size: 0.9rem;
                        color: #717171;
                        text-align: center;

                        @media screen and (min-width: 768px) {
                            font-size: 1rem;
                        }

                        @media screen and (min-width: 1024px) {
                            font-size: 1.1rem;
                        }
                    }
                }

                .desc {
                    padding: 0rem 1rem;
                    font-weight: 300;
                    font-size: 1rem;
                    color: #989898;
                    text-align: center;
                    z-index: 10;
                    height: 300px;
                    overflow: scroll;
                    overflow-x: hidden;
                    margin-bottom: 1rem;

                    @media screen and (min-width: 768px) {
                        font-size: 1.1rem;
                    }

                    @media screen and (min-width: 1024px) {
                        font-size: 1.2rem;
                    }

                    scrollbar-width:thin;
                    scrollbar-color: #666666 transparent;

                    &::-webkit-scrollbar {
                        width: 8px;
                    }

                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: transparent;
                        border-radius: 10px;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: -50px;
                    left: -50px;
                    right: -50px;
                    bottom: -50px;
                    border-radius: 50%;
                    z-index: 0;

                    background: radial-gradient(circle at center,
                            #303030 20%,
                            transparent 40%); 

                    filter: blur(90px) brightness(1.5);
                    opacity: 0.45;
                    // animation: neonrotate var(--animation-duration) linear infinite;
                    transition: filter 0.3s ease, opacity 0.3s ease;

                    @media screen and (min-width: 1024px) {
                        background: linear-gradient(to right, #303030, transparent);
                    }
                }
            }
        }
    }
}