.gap {
    width: 100%;
    height: max-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: var(--font-main);
    font-size: 1.5rem;
    color: #ffffff;
}